body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #E4F9F5;
    position: relative; /* Sa a enpòtan anpil */
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}


.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.profile-img {
    width: 200px;        /* Ou ka chanje gwosè a jan ou vle */
    height: 200px;       /* Wotè a dwe menm ak lajè a pou l fè yon wonn pafè */
    border-radius: 50%;  /* Sa a se sekrè ki rann li won an */
    object-fit: cover;   /* Sa pèmèt foto a pa parèt kraze si l te twò laj */
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.btn {
    background: #11CDD4;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30E3CB;
}

.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}